<a href="https://colab.research.google.com/github/Gabriel-muni/AluraStore/blob/main/AluraStoreLatam_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [12]:
import pandas as pd

In [13]:
tiendaA = pd.read_csv("/content/tienda_1 .csv")

In [14]:
tiendaA.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [71]:
tiendaA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [16]:
tiendaA["Categoría del Producto"].value_counts()

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [17]:
sorted(tiendaA["Categoría del Producto"].unique())

['Artículos para el hogar',
 'Deportes y diversión',
 'Electrodomésticos',
 'Electrónicos',
 'Instrumentos musicales',
 'Juguetes',
 'Libros',
 'Muebles']

In [18]:
tiendaB["Categoría del Producto"].unique()

array(['Muebles', 'Instrumentos musicales', 'Deportes y diversión',
       'Electrónicos', 'Artículos para el hogar', 'Juguetes',
       'Electrodomésticos', 'Libros'], dtype=object)

In [19]:
tiendaA["Categoría del Producto"].unique()

array(['Electrónicos', 'Muebles', 'Juguetes', 'Electrodomésticos',
       'Artículos para el hogar', 'Deportes y diversión', 'Libros',
       'Instrumentos musicales'], dtype=object)

In [82]:
tiendaA["Precio"].info()
print(tiendaA["Precio"].unique())

<class 'pandas.core.series.Series'>
RangeIndex: 2359 entries, 0 to 2358
Series name: Precio
Non-Null Count  Dtype
--------------  -----
2359 non-null   float64
dtypes: float64(1)
memory usage: 18.6 KB
[ 164300.  192300.  209600. ... 1284400.  691300.  195000.]

In [21]:
tiendaA.Precio.max()

2977000.0

In [22]:
tiendaB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [23]:
tiendaC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [24]:
tiendaD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

In [25]:
tiendaB = pd.read_csv("/content/tienda_2.csv")

In [26]:
tiendaB.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Silla de oficina,Muebles,283600.0,15300.0,04/08/2021,Izabela de León,Medellín,1,Nequi,1,6.25184,-75.56359
1,Pandereta,Instrumentos musicales,76800.0,2300.0,26/11/2020,Blanca Ramirez,Medellín,3,Tarjeta de crédito,4,6.25184,-75.56359
2,Cama king,Muebles,443300.0,23800.0,22/10/2021,Izabela de León,Pereira,5,Tarjeta de crédito,10,4.81333,-75.69611
3,Cama king,Muebles,906200.0,46400.0,04/05/2022,Maria Alfonso,Cali,5,Tarjeta de crédito,10,3.43722,-76.52250
4,Silla de oficina,Muebles,397800.0,19400.0,26/02/2022,Lucas Olivera,Bogotá,4,Tarjeta de crédito,3,4.60971,-74.08175

In [27]:
tiendaC = pd.read_csv("/content/tienda_3.csv")

In [28]:
tiendaC.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Secadora de ropa,Electrodomésticos,1285100.0,66600.0,17/12/2021,Camila Rivera,Santa Marta,4,Tarjeta de crédito,4,11.24079,-74.19904
1,Mesa de noche,Muebles,290100.0,13600.0,10/02/2021,Maria Alfonso,Cali,3,Tarjeta de crédito,1,3.43722,-76.52250
2,Guitarra acústica,Instrumentos musicales,303500.0,17400.0,22/01/2023,Lucas Olivera,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
3,Balón de voleibol,Deportes y diversión,58800.0,3300.0,22/03/2022,Pedro Gomez,Barranquilla,4,Tarjeta de crédito,6,10.96854,-74.78132
4,Armario,Muebles,521100.0,25900.0,12/01/2022,Blanca Ramirez,Bogotá,1,Tarjeta de crédito,1,4.60971,-74.08175

In [29]:
tiendaD = pd.read_csv("/content/tienda_4.csv")

In [31]:
tiendaA.Calificación.max()

5

#1. Análisis de facturación

In [56]:
ingreso_total_tiendaA = sum(tiendaA["Precio"])
ingreso_total_tiendaA

1150880400.0

In [57]:
ingreso_total_tiendaB = sum(tiendaB["Precio"])
ingreso_total_tiendaB

1116343500.0

In [58]:
ingreso_total_tiendaC = sum(tiendaC["Precio"])
ingreso_total_tiendaC

1098019600.0

In [67]:
ingreso_total_tiendaD= sum(tiendaD["Precio"])
ingreso_total_tiendaD
type(ingreso_total_tiendaD)

float

In [60]:
ingreso_total_cuatro_tiendas = sum(tiendaA["Precio"]) + sum(tiendaB["Precio"]) + sum(tiendaC["Precio"]) + sum(tiendaD["Precio"])
ingreso_total_cuatro_tiendas

4403619200.0

In [68]:
data = {
    'Tiendas': ['A', 'B', 'C', 'D'],
    'Ventas': [1150880400, 1116343500, 1098019600, 1038375700]
}

df = pd.DataFrame(data)
print(df)

  Tiendas      Ventas
0       A  1150880400
1       B  1116343500
2       C  1098019600
3       D  1038375700

In [70]:
total_ventas = df['Ventas'].sum()
df['Porcentaje'] = (df['Ventas'] / total_ventas) * 100
df['Porcentaje'] = df['Porcentaje'].round(2)
print(df)

  Tiendas      Ventas  Porcentaje
0       A  1150880400       26.13
1       B  1116343500       25.35
2       C  1098019600       24.93
3       D  1038375700       23.58

# 2. Ventas por categoría

In [90]:
def ventas_por_categoria(tienda, numero):
    ventas = tienda.groupby('Categoría del Producto')['Precio'].sum()
    print(f"\nVentas por categoría en Tienda {numero}:")
    print(ventas)

ventas_por_categoria(tiendaA, 1)
ventas_por_categoria(tiendaB, 2)
ventas_por_categoria(tiendaC, 3)
ventas_por_categoria(tiendaD, 4)

Ventas por categoría en Tienda 1:
Categoría del Producto
Artículos para el hogar     12698400.0
Deportes y diversión        39290000.0
Electrodomésticos          363685200.0
Electrónicos               429493500.0
Instrumentos musicales      91299000.0
Juguetes                    17995700.0
Libros                       8784900.0
Muebles                    187633700.0
Name: Precio, dtype: float64

Ventas por categoría en Tienda 2:
Categoría del Producto
Artículos para el hogar     14746900.0
Deportes y diversión        34744500.0
Electrodomésticos          348567800.0
Electrónicos               410831100.0
Instrumentos musicales     104990300.0
Juguetes                    15945400.0
Libros                      10091200.0
Muebles                    176426300.0
Name: Precio, dtype: float64

Ventas por categoría en Tienda 3:
Categoría del Producto
Artículos para el hogar     15060000.0
Deportes y diversión        35593100.0
Electrodomésticos          329237900.0
Electrónicos               410775800.0
Instrumentos musicales      77380900.0
Juguetes                    19401100.0
Libros                       9498700.0
Muebles                    201072100.0
Name: Precio, dtype: float64

Ventas por categoría en Tienda 4:
Categoría del Producto
Artículos para el hogar     15074500.0
Deportes y diversión        33350100.0
Electrodomésticos          283260200.0
Electrónicos               409476100.0
Instrumentos musicales      75102400.0
Juguetes                    20262200.0
Libros                       9321300.0
Muebles                    192528900.0
Name: Precio, dtype: float64

# 3. Calificación promedio de la tienda

In [41]:
calificacion_tiendaA = (sum(tiendaA["Calificación"])) / len(tiendaA["Calificación"])
calificacion_tiendaA = round(calificacion_tiendaA, 3)
calificacion_tiendaA

3.977

In [42]:
calificacion_tiendaB = (sum(tiendaB["Calificación"])) / len(tiendaB["Calificación"])
calificacion_tiendaB = round(calificacion_tiendaB, 3)
calificacion_tiendaB

4.037

In [43]:
calificacion_tiendaC = (sum(tiendaC["Calificación"])) / len(tiendaC["Calificación"])
calificacion_tiendaC = round(calificacion_tiendaC, 3)
calificacion_tiendaC

4.048

In [44]:
calificacion_tiendaD = (sum(tiendaD["Calificación"])) / len(tiendaD["Calificación"])
calificacion_tiendaD = round(calificacion_tiendaD, 3)
calificacion_tiendaD

3.996

# 4. Productos más y menos vendidos

In [45]:
tiendaA["Producto"].unique()

array(['Asistente virtual', 'Mesa de comedor', 'Juego de mesa',
       'Microondas', 'Silla de oficina', 'Bloques de construcción',
       'Muñeca bebé', 'Lavavajillas', 'Lavadora de ropa',
       'Carrito de control remoto', 'Refrigerador', 'Auriculares',
       'Olla de presión', 'Bicicleta', 'Ciencia de datos con Python',
       'Balón de voleibol', 'Ajedrez de madera', 'TV LED UHD 4K',
       'Vaso térmico', 'Kit de bancas', 'Dashboards con Power BI',
       'Cubertería', 'Set de ollas', 'Batería', 'Cuerda para saltar',
       'Estufa', 'Cama box', 'Impresora', 'Mesa de noche', 'Armario',
       'Dinosaurio Rex', 'Guitarra eléctrica', 'Secadora de ropa',
       'Sofá reclinable', 'Tablet ABXY', 'Cubo mágico 8x8',
       'Set de vasos', 'Modelado predictivo', 'Iphone 15', 'Mochila',
       'Balón de baloncesto', 'Auriculares con micrófono', 'Sillón',
       'Guitarra acústica', 'Iniciando en programación', 'Celular ABXY',
       'Smartwatch', 'Mesa de centro', 'Cama king', 'Smart TV',
       'Pandereta'], dtype=object)

In [46]:
tiendaA["Producto"].value_counts()

Producto
Microondas                     60
TV LED UHD 4K                  60
Armario                        60
Secadora de ropa               58
Mesa de noche                  56
Bloques de construcción        56
Balón de baloncesto            55
Bicicleta                      54
Vaso térmico                   54
Refrigerador                   54
Impresora                      54
Batería                        53
Cubertería                     52
Carrito de control remoto      52
Modelado predictivo            51
Auriculares                    50
Ajedrez de madera              49
Iphone 15                      49
Lavavajillas                   48
Lavadora de ropa               47
Guitarra eléctrica             47
Guitarra acústica              46
Sofá reclinable                46
Silla de oficina               46
Estufa                         45
Cama box                       44
Kit de bancas                  44
Smart TV                       44
Cama king                      44
Cubo mágico 8x8                44
Mesa de centro                 44
Set de ollas                   43
Smartwatch                     43
Juego de mesa                  43
Balón de voleibol              42
Dashboards con Power BI        42
Tablet ABXY                    42
Sillón                         41
Iniciando en programación      41
Set de vasos                   41
Asistente virtual              40
Muñeca bebé                    40
Mesa de comedor                40
Dinosaurio Rex                 40
Cuerda para saltar             40
Mochila                        39
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

# 5. Envío promedio por tienda

In [47]:
Promed_costo_de_envió_tiendaA = (sum(tiendaA["Costo de envío"])) / len(tiendaA["Costo de envío"])
Promed_costo_de_envió_tiendaA = round(Promed_costo_de_envió_tiendaA, 3)
Promed_costo_de_envió_tiendaA

26018.61

In [48]:
Promed_costo_de_envió_tiendaB = (sum(tiendaB["Costo de envío"])) / len(tiendaB["Costo de envío"])
Promed_costo_de_envió_tiendaB = round(Promed_costo_de_envió_tiendaB, 3)
Promed_costo_de_envió_tiendaB

25216.236

In [49]:
Promed_costo_de_envió_tiendaC = (sum(tiendaC["Costo de envío"])) / len(tiendaC["Costo de envío"])
Promed_costo_de_envió_tiendaC = round(Promed_costo_de_envió_tiendaC, 3)
Promed_costo_de_envió_tiendaC

24805.68

In [50]:
Promed_costo_de_envió_tiendaD = (sum(tiendaD["Costo de envío"])) / len(tiendaD["Costo de envío"])
Promed_costo_de_envió_tiendaD =round(Promed_costo_de_envió_tiendaD, 3)
Promed_costo_de_envió_tiendaD

23459.457